bitarray
faiss-gpu
hanlp
ipykernel
iterative-stratification
matplotlib
numpy
openai
pandas
peft
python-dotenv
scikit-learn>=1.7.0
scipy
seaborn
sentence-transformers
tokenizers
torch>=2.0.0
tqdm
ransformers>=4.57.0
typing-extensions
